@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
.container-fluid {
    background-color: yellow;
    height: 100px;
    margin-top: 2px;
    text-align: center;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h6 {
    font-family: 'Rampart One', cursive;
}

h1 {
    text-shadow: 3px;
    font-size: large;
}

textarea {
    width: 55rem;
    height: 10rem;
}

button {
    background-color: yellow;
    height: 5rem;
    width: 55rem;
    flex-wrap: wrap;
}

.output h1 {
    text-align: center;
}

footer {
    height: 20rem;
    text-align: center;
    background-color: yellow;
    margin-top: 2rem;
}

.text {
    font-family: 'Rampart One', cursive;
    font-size: 3rem;
}

.container-head {
    margin-bottom: 3rem;
}

.footer {
    margin-top: 3rem;
}